.background {
  width: 240px;
  height: 320px;

  background-color: gray;

  margin: 0 auto;

  border-radius: 10px;
}

.title {
  position: relative;
  background-color: #999999;

  margin: 10px auto;
  height: 30px;

  text-align: center;
  line-height: 30px;
}

.diagram {
  position: relative;
  margin: 0 auto;
  background-color: #9f9f9f;

  width: 200px;
  height: 200px;

}

.panel{

  border-radius: 5px;
  box-shadow: 0px 2px 4px 0 #333333;
}

.savebutton{
  position: relative;
  top: 10px;
  margin: 0 20px;

  width: 200px;
  height: 50px;

  border-radius: 10px;

  border:none;
  background-color: green;
}
